# =====================================================
#  DualBoot Configuration - Miyoo Mini / Mini Plus / Flip
# =====================================================
#
#  COMMENT MODIFIER CE FICHIER :
#  Changez uniquement la VALEUR a droite du signe =
#  Ne touchez pas aux lignes qui commencent par #
#
# =====================================================

LANG=FR
# LANG : FR = francais / EN = anglais / ES = espagnol

VIBRATION_POWER=25
# VIBRATION_POWER : puissance moteur 0 a 100 (0 = desactive)

VIBRATION_SELECT=60
# VIBRATION_SELECT : duree vibration gauche/droite en ms

VIBRATION_CONFIRM=100
# VIBRATION_CONFIRM : duree vibration confirmation en ms

PASSWORD_PROTECT=none
# PASSWORD_PROTECT : none / onion / telmios / both
# Exemple pour proteger OnionOS  -> PASSWORD_PROTECT=onion
# Exemple pour proteger TelmiOS  -> PASSWORD_PROTECT=telmios
# Exemple pour tout proteger     -> PASSWORD_PROTECT=both

PASSWORD_SEQUENCE="UP UP DOWN DOWN A"
# PASSWORD_SEQUENCE : sequence de boutons (entre guillemets)
# Boutons disponibles : UP DOWN LEFT RIGHT A B X Y L R START SELECT

CONFIG_SEQUENCE="UP UP DOWN DOWN"
# CONFIG_SEQUENCE : code secret pour acceder au menu de configuration
# Appuyer X dans le menu de boot pour ouvrir la configuration
# Boutons disponibles : UP DOWN LEFT RIGHT X Y L1 R1 START SELECT (pas A ni B)
